input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 16px;
}

.player-grid,
.club-grid {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

a {
  text-decoration: none;
  color: inherit;
}
