<div class="relative flex flex-col items-center justify-center w-full h-full bg-gradient-to-b from-blue-900 to-green-900">
  <!-- Stadium seating (decorative) -->
  <div class="absolute top-0 left-1/2 -translate-x-1/2 w-11/12 h-2/3 rounded-b-full bg-blue-800 opacity-30 z-0"></div>
  <div class="absolute bottom-0 left-1/2 -translate-x-1/2 w-11/12 h-2/3 rounded-t-full bg-blue-800 opacity-30 z-0"></div>
  <!-- Pitch in the center -->
  <div class="relative z-10 w-full max-w-xl">
    <app-pitch></app-pitch>
  </div>
</div>
